.banner {
    position: sticky;
    /* position: relative; */
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem; 
    .imgn {  
        /* background-size: contain; */
        background-size: cover;
        width: 100%;
        height: auto;
        display: block;
    }    
}