.footer {
    background-color: rgb(168, 45, 45);
    color: white;
    .footer-logos{
        display: flex;
        justify-content: center;
        gap: 10%;
        anchor-scope: none;
        padding: 1rem;
    }
}