
.list {
    list-style: none;
    margin: 0;
    padding: 0;
    img {
        width: 100%;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (width > 768px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

.video {
    width: 50%;
    padding: 2%;
}