.header {
    position: sticky;
    top: 0;
    background-color: rgb(119, 55, 55);
    z-index: 999;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    /* padding: 1rem; */
    padding-top: 15px;
    
    
    
    img {
        width: 20%;
        max-width: 230px;
        min-width: 200px;
    }

}

hr {
    border: none;
    height: 2px;
    background-color: white;
    /* margin-top: 5px; */
    bottom: 0;
}